---
import BaseLayout from '../../layouts/BaseLayout.astro';

---
<BaseLayout title="About">
  <main>
    <p>This site is a playground for testing Astro: a static site generator.</p>
  <main>
</BaseLayout>