---
import BaseLayout from '../../layouts/BaseLayout.astro';

---
<BaseLayout title="About">
  <main>
    <p>This site is a playground for testing Astro: a static site generator.</p>
    <p>You can view the source for this project: </p>
    <ul>
      <li><a href="https://github.com/sarah11918/astro-elsa">on Github</a></li>
      <li><a href="https://github.com/sarah11918/astro-elsa">in Github in 1s (for nicer browsing)</a></li>
      <li><a href="https://codesandbox.io/s/github/sarah11918/astro-elsa">on CodeSandbox</a> (Note, it might LOOK like it doesn't build, but if you just fork it, then the fork should work just fine. It's a CodeSandbox thing.) :P</li>
    </ul>

  <main>
</BaseLayout>
