---
import BaseLayout from '../../layouts/BaseLayout.astro';

---
<BaseLayout title="About">
  <main>
    <p>This site is a playground for testing Astro: a static site generator.</p>
    <p>You can view the source for this project <a href="https://github.com/sarah11918/astro-elsa">on Github</a></p>
  <main>
</BaseLayout>