---
import BaseLayout from "../layouts/BaseLayout";
---
<BaseLayout title="Astro Experiments">
<main>
<h2>Mini Learning Experiments</h2>
      <a class="experiment" href="/react-components">React Components</a>&nbsp &nbsp
      <a class="experiment" href="/remote-markdown">Remote Markdown</a>&nbsp &nbsp
      <a class="experiment" href="/data-fetching">Data Fetching</a>&nbsp &nbsp
      <a class="experiment" href="/code-samples">Code Snippets</a>&nbsp &nbsp
      <a class="experiment" href="/react-context">React Context</a>&nbsp &nbsp
      <a class="experiment" href="/auth-context">Auth State Context</a>&nbsp &nbsp
      <a class="experiment" href="/form">React Form</a>&nbsp &nbsp
      <a class="experiment" href="/passing-props">Passing Props</a>&nbsp &nbsp
      <a class="experiment" href="/recent-tweet">Embedded Tweet</a>
</main>
</BaseLayout>