---
import BaseLayout from "../layouts/BaseLayout";
---
<BaseLayout title="Astro Experiments">

      <a href="/react-components">React Components</a>&nbsp &nbsp
      <a href="/remote-markdown">Remote Markdown</a>&nbsp &nbsp
      <a href="/data-fetching">Data Fetching</a>&nbsp &nbsp
      <a href="/code-samples">Code Snippets</a>&nbsp &nbsp
      <a href="/blog">Blog</a>&nbsp &nbsp
      <a href="/about">About</a>&nbsp &nbsp
      <a href="/react-context">React Context</a>&nbsp &nbsp
      <a href="/auth-context">Auth State Context</a>&nbsp &nbsp
      <a href="/form">React Form</a>&nbsp &nbsp
      <a href="/recent-tweet">Embedded Tweet</a>

</BaseLayout>