---
import App from '../components/MyApp'
---

<html>
<head></head>
<body>
  <main>
    <p>Sample App with Firebase Login</p>
   
  </main>


<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>


<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>

<script>

  var firebaseConfig = {
    apiKey: "AIzaSyCOlTCQLeAZjwTKqvxzx3rJlheZ-apwQPk",
    authDomain: "rentificatr.firebaseapp.com",
    projectId: "rentificatr",
    storageBucket: "rentificatr.appspot.com",
    messagingSenderId: "199563922450",
    appId: "1:199563922450:web:c5dad32c136b9854059ccb"
  };

  firebase.initializeApp(firebaseConfig);
</script>
</body>

</html>