---
import BaseLayout from '../layouts/BaseLayout';
import Button from '../components/Button.jsx';
import Form from '../components/Form.js';
---

<BaseLayout title="React Form">
  <main>
    <p>A React form with controlled components holding data in state</p>
    <Form client:load />

  </main>
</BaseLayout>