---
import BaseLayout from '../layouts/BaseLayout.astro';
import FamilyMember from './FamilyMember.astro';
let name = "Elsa"

let greeting = "Hello"

const items = ["Dog", "Cat", "Platipus"];

---

    <BaseLayout title = "HomePage">
    
      <h1>{greeting}, Astro {name}!</h1>

      <ul>
        {items.map((item) => (
          <li>{item}</li>
        ))}
      </ul>

    <h3>These are the people in my family</h3>
    <ul>
      <FamilyMember name = "Sarah" colour = "red" />
      <FamilyMember name = "Joe"  colour = "grey"/>
    </ul>
      
    </BaseLayout>

