---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';

let greeting = "Hello"
let name = "Elsa"

---

    <BaseLayout title = "HomePage">
    
      <h1>{greeting}, Astro {name}!</h1>
  
    </BaseLayout>

