---
import PostLayout from '../layouts/PostLayout'
import Button from '../components/Button.jsx';
import Counter from '../components/Counter.jsx';
---
<PostLayout title="First Page" author="Sarah" description="This is a first page">

<Button>I'm a React Button!</Button>

<Counter client:visible />

</PostLayout>