---
import BaseLayout from '../layouts/BaseLayout'
import Button from '../components/Button.jsx';
import Counter from '../components/Counter.jsx';
import Characters from '../components/Characters.jsx';

const characters = await fetch('https://finalspaceapi.com/api/v0/character?limit=5')
 .then((res) => res.json());
---
<BaseLayout title="React Component Playground" >
<main>

<h2>Here are some React Components...</h2>

<Button client:visible />
<hr>
<Counter client:visible />
<hr>
<Characters characters={characters} client:visible />
</main>
</BaseLayout>