---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro';
const content = await fetch("https://raw.githubusercontent.com/sarah11918/astro-elsa/main/README.md").then((res) => res.text());
---
<BaseLayout title = "Remote Markdown" >
  <main>
  <Markdown>
    # This 
    is some local **Markdown** between two tags
    <hr>
    ### This is being fetched from a remote site:
    <Markdown content={content} />
  
  ```js
  ---
import { Markdown } from 'astro/components';
import BaseLayout from '../layouts/BaseLayout.astro';
const content = await fetch("https://raw.githubusercontent.com/sarah11918/astro-elsa/main/README.md").then((res) => res.text());
---
<BaseLayout title = "Remote Markdown" >
  <Markdown>
    # This 
    is some local **Markdown** between two tags
    <hr>
    ### This is being fetched from a remote site:
    <Markdown content={content} />
  </Markdown>
</BaseLayout>
  ```
  
  </Markdown>
  </main>
</BaseLayout>

