---
import BaseLayout from '../layouts/BaseLayout.astro';
import FamilyMember from '../aatesting/FamilyMember.astro';
import Rainsberger from '../aatesting/Rainsberger.astro';
import RainsbergerList from '../aatesting/RainsbergerList.astro';
import ButtonTwo from '../aatesting/ButtonTwo.astro';
---
<style>
  .luxury {
    font-weight: bold;
    color: red;
  }
  h1 {
    color: green;
  }
  p {
    color: grey;
  }

  li {
    color: orange;
  }
 :global(h1) {
    font-style: italic;
  }
  :global(li) {
    font-weight: bold;
    font-size: 8px;
  }
</style>



<BaseLayout>
<main>
<h2>Testing styles, slots, files and stuff...</h2>
<RainsbergerList>
<li>Sarah</li>
<li>Joe</li>
<li>Hobbes</li>
</RainsbergerList>


<ButtonTwo>Page Button</ButtonTwo>
  <Rainsberger><p>Sarah<p></Rainsberger>

  <p>Some text</p>
  <p class="luxury"> Some luxury text </p>
  <ul>
    <li>a list item</li>
    <li class="luxury"> a luxury list item</li>
  </ul>
  
  <h1> a heading</h1>
  <h1 class="luxury"> a luxury heading</h1>
  
  <ul>
  <li><FamilyMember name="Sarah" colour="blue" /></li>
  </ul>
  <p>A jpg in public folder</p>
  <img src="/images/astro-note.jpg" width="80%" alt="astro handwritten notes">
  <p>A pdf in public folder: <a href="/astro-note.pdf">here</a></p>
</main>
</BaseLayout>