---
const {title} = Astro.props;
import { Markdown } from 'astro/components';
---
<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <Markdown>I'm a common layout. You are viewing **{title}**</Markdown>
      <a href="/">Home</a>{' '}
      <a href="/react-components">React</a>{' '}
      <a href="/markdown-page">Markdown</a>{' '}
      <a href="/data-fetching">Data Fetching</a>{' '}

    </nav>
    <br>
    <slot />
    <footer>
      <hr>
      <Markdown>Look at me, I'm a footer on **{title}**</Markdown>
    </footer>
  </body>
</html>