---
const {title} = Astro.props;
import { Markdown } from 'astro/components';
import styles from '../styles/global.css';
import ButtonTwo from '../components/ButtonTwo.astro';
---
<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.24.1/themes/prism-tomorrow.css">
  </head>
  <body>
    <nav>
      <Markdown>I'm a common layout. You are viewing **{title}**</Markdown>
      <a href="/">Home</a>{' '}
      <a href="/react-components">React</a>{' '}
      <a href="/remote-markdown">Remote Markdown</a>{' '}
      <a href="/data-fetching">Data Fetching</a>{' '}
      <a href="/code-samples">Code Snippets</a>{' '}
      <a href="/posts/first-post">Markdown Post</a>{' '}
      <a href="/blog">Blog</a>{' '}
      <a href="/about">About</a>{' '}
      <a href="/testing">Testing</a>
    </nav>
   <hr>
    <slot />
    <footer>
      <hr>
      <div>
      <Markdown>
      Look at me, I'm a footer on **{title}**
      
      Built by [@sarah11918](https://www.twitter.com/sarah11918) on a Chromebook via [CodeSandbox](https://codesandbox.io) ~ [#BuiltWithAstro](http://astro.build) 
      </Markdown>
      
      </div>
    </footer>
  </body>
</html>
