---
const {title} = Astro.props;
import { Markdown } from 'astro/components';
---
<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <!-- Adds a navigation bar to every page. -->
    <nav>
      <Markdown>I'm a common layout. You are viewing **{title}**</Markdown>
      <a href="#">Home</a>{' '}
      <a href="#">Posts</a>{' '}
      <a href="#">Contact</a>
    </nav>
    <slot> </slot>
  </body>
</html>